<div class=" w-100 border-bottom pb-2 d-flex align-items-center justify-content-between  ">
  <p class="fa fs-3 m-0">setting</p>
  <div class=" m-0 p-0 my-auto cursorPointer backHome" (click)="backHome()"><i class="fa-solid fa-house p-0 m-0"></i>
  </div>
</div>




<div class=" col-12 row my-3 d-flex align-items-center justify-content-evenly mx-auto">

  <p>general</p>

  <div class=" col-lg-3 col-md-5 col-sm-10">
    <p class="m-0">Mood</p>

    <div class="input-group ">
      <select class="form-select">
        <option><a class="dropdown-item">dark</a></option>
        <option><a class="dropdown-item">Light</a></option>
      </select>
    </div>

  </div>

  <div class="col-lg-3 col-md-5 col-sm-10">
    <p class="m-0">language</p>

    <div class="input-group ">
      <select class="form-select">
        <option><a class="dropdown-item">English</a></option>
        <option><a class="dropdown-item">Arabic</a></option>
      </select>
    </div>

  </div>
</div>



<div class=" col-12 row my-3 d-flex align-items-center justify-content-center mx-auto">
  <p>account</p>
  <div class=" col-lg-8 col-sm-12">
    <p class="m-0">Blocked user</p>
    <button class="w-100 btn bg-secondary bg-opacity-75  text-center  ">
      2 Blocked User
    </button>
  </div>
</div>

<div class="  col-12 row my-3 d-flex align-items-center justify-content-evenly mx-auto">

  <p>privacy</p>

  <div class=" col-lg-3 col-md-6 col-sm-12">
    <p class="m-0">Last seen</p>

    <div class="input-group ">
      <select class="form-select">
        <option><a class="dropdown-item">All</a></option>
        <option><a class="dropdown-item">Friends</a></option>
        <option><a class="dropdown-item">Customize</a></option>
        <option><a class="dropdown-item">exclusion</a></option>
        <option><a class="dropdown-item">None</a></option>


      </select>
    </div>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">
    <p class="m-0">picture</p>

    <div class="input-group ">
      <select class="form-select">
        <option><a class="dropdown-item">All</a></option>
        <option><a class="dropdown-item">Friends</a></option>
        <option><a class="dropdown-item">Customize</a></option>
        <option><a class="dropdown-item">exclusion</a></option>
        <option><a class="dropdown-item">None</a></option>


      </select>
    </div>

  </div>


  <div class="col-lg-3 col-md-6 col-sm-12">
    <p class="m-0">Status</p>

    <div class="input-group ">
      <select class="form-select">
        <option><a class="dropdown-item">All</a></option>
        <option><a class="dropdown-item">Friends</a></option>
        <option><a class="dropdown-item">Customize</a></option>
        <option><a class="dropdown-item">exclusion</a></option>
        <option><a class="dropdown-item">None</a></option>


      </select>
    </div>

  </div>

  <div class="col-lg-3 col-md-6 col-sm-12">
    <p class="m-0">Story</p>

    <div class="input-group ">
      <select class="form-select">
        <option><a class="dropdown-item">All</a></option>
        <option><a class="dropdown-item">Friends</a></option>
        <option><a class="dropdown-item">Customize</a></option>
        <option><a class="dropdown-item">exclusion</a></option>
        <option><a class="dropdown-item">None</a></option>


      </select>
    </div>

  </div>
</div>

<div class=" col-12 row my-3 d-flex align-items-center justify-content-center mx-0"><button class="   col-4 btn btn-primary ">SAVE</button></div>
