<div
class="col-12 h-100 row d-flex m-0 justify-content-end align-items-center p-0 rounded-top bg-light text-white "
style="height:8% ;">


<div
  class="d-flex align-items-center justify-content-around col-lg-8 col-md-4 col-sm-12 h-auto my-auto text-black ">
  <p class=" my-auto">ziad almorsy</p>
  <div
    style="width: 45px; height: 45px; background-image: url(../../../assets/img/WhatsApp\ Image\ 2022-09-14\ at\ 6.12.54\ PM.jpeg); background-size: cover; background-position: center center;"
    class=" rounded-5 overflow-hidden">
  </div>
</div>


<div class="  col-12 p-3 m-0 bg-light border-top text-black d-flex align-items-center justify-content-center "
style="height:8% ;">
<input type="text" style="border-radius:  50px 0 0 50px  ; outline: none!important; width: 90%;"
  class="  p-1 ps-3 border-0  " placeholder="Username">
<span class="p-1 bg-white" style="border-radius: 0 50px 50px 0 ; width: 10%;"> <i
    class="fa-solid fa-magnifying-glass  "></i>
</span>
</div>

<div style="height: 84%; scrollbar-gutter: stable;overflow-y: auto;"
class=" col-12  m-0  rounded-0 rounded-bottom bg-light ov">
<div *ngFor="let dummy of ' '.repeat(10).split(''), let i = index"
  class="d-flex align-items-center bg-light m-0 justify-content-end col-12 h-auto  text-black  p-3 border-bottom ">
  <p class=" my-auto me-3">ziad almorsy</p>
  <div
    style="width: 45px; height: 45px; background-image: url(../../../assets/img/WhatsApp\ Image\ 2022-09-14\ at\ 6.12.54\ PM.jpeg); background-size: cover; background-position: center center;"
    class=" rounded-5 overflow-hidden">
  </div>
</div>
</div>

</div>
