
<div class=" w-100 border-bottom pb-2 d-flex align-items-center justify-content-between  ">
  <p class="fa fs-3 m-0">Add friend</p>
<div class=" m-0 p-0 my-auto cursorPointer backHome"  (click)="backHome()"><i class="fa-solid fa-house p-0 m-0"></i></div>
</div>

<div class=" col-12 border-bottom py-2 m-0">
  <input type="text" (keyup)="search()" class=" w-100 border-0 border-start border-3 bg-transparent p-2"
    [(ngModel)]="name" placeholder="Add friend">
</div>
<div class=" col-12 row py-4 m-0">

  <div class="col-lg-6 col-md-12 m-0 d-flex align-items-center justify-content-center flex-column p-0" *ngFor="let item of allUser">
    <div [style.background]="'url(' + item?.profilePic[0] + ')'" class="userImg rounded-5 my-2 position-relative">
            <!-- <p class=" col-4 m-0 p-0"  > </p> -->
            <div class=" position-absolute rounded-5" style="width: 14px; height: 14px; top: 2px; right: 2px; " [ngClass]="{'bg-secondary': item.isOnline , 'bg-success': !item.isOnline}"></div>

    </div>
    <h5>{{item.userName}}</h5>
    <p style="font-size:13px ;">{{item.time}}</p>
    <div class=" text-start w-100">
      <p class=" m-0 "><i class="fa-solid fa-user-group"></i> {{item.friends.length}} friends</p>
      <p class=" m-0 "><i class="fa-solid fa-user-group"></i> {{item.friends.length}} mutual friends</p>
    </div>
    <div class=" col-12 row d-flex align-items-center justify-content-between py-3">

      <button style="font-size: 13px;" class=" fw-bolder col-4 p-0 py-1 btn btn-danger">Block</button>
      <!-- <div *ngFor="let user of userData.friends" > <p *ngIf="item._id == user._id">{{userData.userName}}</p></div> -->

      <button style="font-size: 13px;" class="fw-bolder col-7 btn btn-primary py-1 p-0" (click)="addFriend(item._id)">Add Friend</button>
<!-- <div *ngFor="let user of userData.friends">
  <button *ngIf="user._id != item._id" style="font-size: 13px;" class="fw-bolder col-7 btn btn-primary py-1 p-0" (click)="addFriend(item._id)">remove Friend</button>

</div> -->
    </div>
  </div>

</div>
