<div class=" w-100 border-bottom pb-2 d-flex align-items-center justify-content-between  ">
  <p class="fa fs-3 m-0">stars</p>
<div class=" m-0 p-0 my-auto cursorPointer backHome" (click)="backHome()"><i class="fa-solid fa-house p-0 m-0"></i></div>
</div>


<div class=" col-12 row h-auto d-flex align-items-center justify-content-center bg rounded-4 my-4 position-relative py-2 overflow-hidden mx-auto" *ngFor="let dummy of ' '.repeat(8).split(''), let i = index">
  <div class="col-md-2 col-sm-12 d-flex align-items-center justify-content-around flex-column p-0 py-2 m-auto ">
    <div class="userImg rounded-5 "></div>
    <p class="m-0">ali ali</p>
  </div>
  <div class=" col-md-9 col-sm-12 ">
    <p class=" m-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae sapiente impedit repellat saepe
      voluptatibus exercitationem ipsa officiis quam atque maiores?</p>
  </div>
  <div class="delete col-md-1 col-sm-12 d-flex align-items-center justify-content-center p-0 w-auto cursorPointer ">
    <div> <i class="fa-solid fa-trash"></i></div>

  </div>
</div>
